.article {
  padding: 20px;

  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 325px;
    margin: 0 auto;
  }

  &__title {
    color: #00FF57;
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
  }

  &__description {
    font-size: 14px;
    color: #BDBDBD;
    font-weight: 700;
  }

  &__sub-description {
    color: #BDBDBD;
    font-weight: 500;
    font-size: 13px;
  }

  &__sidebar-for-tablet {
    min-width: 230px;
    min-height: 550px;
    background-color: #191919;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
  }

  &__sidebar-icon {
    margin-top: 10px;
  }
}

@media (min-width: $md) {
  .article {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;

    &__title-wrapper {
      justify-content: flex-start;
    }

    &__title {
      font-size: 26px;
      line-height: 31px;
    }

    &__description {
      font-size: 18px;
    }

    &__sub-description {
      font-size: 14px;
      line-height: 17px;
    }

    &__wrapper {
      max-width: 650px;
    }

    &__share {
      display: none;
    }

    &__button {
      color: red;
      display: none;
    }

    &__sidebar-for-tablet {
      display: flex;
      margin-right: 20px;
    }

    &__icon {
      display: none;
    }
  }
}

@media (min-width: $xl) {
  .article {
    padding: 10px;

    &__title {
      font-size: 36px;
      line-height: 43px;
    }

    &__description {
      font-size: 24px;
      line-height: 29px;
    }

    &__sub-description {
      font-size: 16px;
      line-height: 20px;
    }

  }
}

@media (min-width: $xxl) {
  .article {
    max-width: 1200px;
    padding: 5px;

    &__title {
      font-size: 48px;
      line-height: 58px;
    }

    &__wrapper {
      max-width: 900px;
    }

    &__description {
      font-size: 28px;
      line-height: 33px;
    }

    &__sub-description {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
