.page-header {
  background-color: #000;
  min-height: 40px;

  &__logo-icon {
    margin-top: 10px;
    margin-left: 10px;
    width: 74px;
    height: 21px;
  }
}

@media (min-width: $md) {
  .page-header__logo-icon {
    width: 107px;
    height: 30px;
  }
}
